<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>
<p class="about-p1">
  <span class="about-headline">ランダムな文字列を生成しています。（20文字）</span><br>
  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓<br>
  <span class="about-name"><%= @contact %></span><br>
  ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑<br>
</p>
